:root {
    --color-background-color: #F9F9F9;
    --color-menu-text: #606060;
    --color-intro-accent: #5C4EAE;
    --color-intro-text: #201F1F;
    --color-button: #6C5FBC;
    --color-black-text: #18181B;
    --color-page-text: #676767;
    --color-header: #323142;
    --color-header-accent: #6C5FBC;
    --color-arrow-button: #ACADB9;
    --color-background-healthy: #F7EDD0;
    --color-healthy: #DAA31A;
    --color-background-trending: #F7C5BA;
    --color-trending: #FB471D;
    --color-opacity-green: rgba(52, 173, 100, 0.8);
    --color-green-text: #309D5B;
    --color-border: #CBCBCB;
    --color-card-background: #FFFFFF;
    --color-opacity-grey: #201F1F33;
    --color-advantages-text: #C5BFED;
}

html, body {
    margin: 0;
    background-color: var(--color-background-color);
    font-family: "Inter";
}

a {
    text-decoration: none;
    font-size: 17px;
    line-height: 26px;
    font-weight: 500;
    color: var(--color-menu-text);
}

.button {
    font-family: inherit;
    font-weight: 700;
    font-size: 17px;
    line-height: 26px;
    padding: 17px 26px;
    cursor: pointer;
}

.button_violet {
    background-color: var(--color-button);
    border: none;
    border-radius: 17px;
    color: var(--color-background-color);
}

.button_violet-border {
    background: none;
    border: 1.5px solid var(--color-header-accent);
    border-radius: 12px;
    color: var(--color-header-accent);
    padding: 18px 28px 17px 27px;
}

.button_start {
    border-radius: 12px;
    padding: 18px 30px 17px 31px;
}

.button_transparent {
    border: none;
    background: none;
    color: var(--color-menu-text);
    padding: 17px 26px;
}

.header {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 75px;
    line-height: 90px;
    margin: 0px;
}

.header_violet {
    color: var(--color-intro-accent);
}

.header_small {
    font-weight: 700;
    font-size: 50px;
    line-height: 58px;
}


.text {
    font-family: "Inter";
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: var(--color-page-text);
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 96px;
}

.navigation__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation__content {
    display: flex;
    gap: 110px;
}

.navigation__list {
    display: flex;
    list-style: none; 
    gap: 53px;
    margin-top: 10px;
    padding: 0;
    font-size: 17px;
    line-height: 26px;
    font-weight: 500;
    color: var(--color-menu-text);
    font-family: "Inter";
}

.navigation__login {
    display: flex;
    gap: 8px;
}

.intro {
    display: flex;
    gap: 67px;
    padding: 49px 58px 85px 96px;
    justify-content: space-between;
    align-items: center;
}

.intro__content {
    display: flex;
    flex-direction: column;
}

.intro__content-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 53px;
}

.intro__text {
    text-align: justify;
    margin: 0;
}

.intro__buttons {
    display: flex;
    gap: 18px;
    margin-bottom: 33px;
}

.intro__additional-info {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 2px;
    color: var(--color-opacity-grey);
    margin: 0;
}

.intro__rating {
    display: flex;
    gap: 20px;
    align-items: center;
}

.intro__rating-grade {
    display: flex;
    gap: 9px;
    justify-content: center;
    align-items: center;
}

.image-food {
    width: 603px;
}

.advantages {
    background: url(images/BG.png);
    background-size: cover;
    padding: 48px 249px;
}

.advantages__content {
    display: flex;
    gap: 38px;
    justify-content: space-between;
}

.advantages__header {
    font-weight: 700;
    line-height: 54px;
    font-size: 43px;
    color: var(--color-card-background);
    margin: 0;
    text-align: center;
}

.advantages__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: var(--color-advantages-text);
    text-align: center;
}

.advantages__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 206px;
}

.app {
    padding: 103px 81px 100px 97px;
}

.app__content {
    display: flex;
    justify-content: space-evenly;
   
}

.app__content-text {
    display: flex;
    flex-direction: column;
    width: 560px;
}

.app__list {
    display: flex;
    flex-direction: column;
    gap: 27px;
    color: var(--color-page-text);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}