.advantages {
  background: url(../assets/images/BG.png);
  background-size: cover;
  padding: 48px 249px;

  @media (max-width: 1200px) {
    padding: 34px 177px;
  }

  @media (max-width: 760px) {
    padding: 99px 60px 82px 51px;
  }

  &__content {
    display: flex;
    gap: 38px;
    justify-content: space-between;

    @media (max-width: 1200px) {
      gap: 94px;
    }

    @media (max-width: 760px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &__header {
    font-weight: 700;
    line-height: 54px;
    font-size: 43px;
    color: var(--color-card-background);
    margin: 0;
    text-align: center;

    @media (max-width: 1200px) {
      font-size: 30px;
      line-height: 38px;
    }

    @media (max-width: 760px) {
      font-size: 43px;
      line-height: 54px;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: var(--color-advantages-text);
    text-align: center;

    @media (max-width: 1200px) {
      font-size: 10px;
      line-height: 15px;
    }

    @media (max-width: 760px) {
      font-size: 14px;
      line-height: 21px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 206px;
  }
}
