.swiper-scrollbar {
  width: calc(100% - 103px) !important;
  height: 13px !important;
  background-color: #c5c5c7;
}

.swiper-scrollbar-drag {
  background-color: #6b5b94;
  height: 12px;
  width: 230px !important;
}
