.text {
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-page-text);

  @media (max-width: 1200px) {
    font-size: 12px;
    line-height: 19px;
  }

  &_no-indentation {
    margin: 0;
  }

  &_small {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #acadb9;
  }
}
