.top {
  padding: 0px 95px 40px 96px;

  &__title {
    text-align: center;
    margin-bottom: 85px;
  }

  &__content {
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  &__button {
    display: flex;
    justify-content: end;
    padding-right: 80px;
    padding-bottom: 120px;
  }

  &__footer {
    border-bottom: 1px solid var(--color-border);
  }
}
