:root {
  --color-background-color: #f9f9f9;
  --color-menu-text: #606060;
  --color-intro-accent: #5c4eae;
  --color-intro-text: #201f1f;
  --color-button: #6c5fbc;
  --color-black-text: #18181b;
  --color-page-text: #676767;
  --color-header: #323142;
  --color-header-accent: #6c5fbc;
  --color-arrow-button: #acadb9;
  --color-background-healthy: #f7edd0;
  --color-healthy: #daa31a;
  --color-background-trending: #f7c5ba;
  --color-trending: #fb471d;
  --color-opacity-green: rgba(52, 173, 100, 0.8);
  --color-green-text: #309d5b;
  --color-border: #cbcbcb;
  --color-card-background: #ffffff;
  --color-opacity-grey: #201f1f33;
  --color-advantages-text: #c5bfed;
}
