:root {
    --color-background-color: #F9F9F9;
    --color-menu-text: #606060;
    --color-intro-accent: #5C4EAE;
    --color-intro-text: #201F1F;
    --color-button: #6C5FBC;
    --color-black-text: #18181B;
    --color-page-text: #676767;
    --color-header: #323142;
    --color-header-accent: #6C5FBC;
    --color-arrow-button: #ACADB9;
    --color-background-healthy: #F7EDD0;
    --color-healthy: #DAA31A;
    --color-background-trending: #F7C5BA;
    --color-trending: #FB471D;
    --color-opacity-green: rgba(52, 173, 100, 0.8);
    --color-green-text: #309D5B;
    --color-border: #CBCBCB;
    --color-card-background: #FFFFFF;
    --color-opacity-grey: #201F1F33;
    --color-advantages-text: #C5BFED;
}
